.vegatopnav {
  font-size: 20px;
  margin-left: 30px;
}

.navbar-brand {
  display: none;
}
@media (min-width: 992px) {
  .navbar-brand {
    display: block;
  }
}

#basic-navbar-nav i {
  margin-right: 5px;
}

@media (min-width: 992px) {
  #basic-navbar-nav {
    font-size: 20px;
    margin-left: 20px;
  }

  #basic-navbar-nav .nav-link {
    margin-left: 30px;
  }
}