.selecting-token-row:hover {
  cursor: pointer;
  background-color: #111618;
}

.dripicons-gear.noti-icon:hover {
  cursor: pointer;
}

.TokenInput-max-button {
  display: block;
  padding: 0 10px;
  cursor: pointer;
}

.swap-inverseButton {
  cursor: pointer;
  font-size: 1.2rem;
}

.swap-inverseButton:hover {
  color: #ddd;
}

@media (min-width: 992px) {
  .form-control.input-amount {
    /* from form-control-lg */
    min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: calc(1.2501rem + 0.0012vw);
    border-radius: 0.3rem;
  }
}