.selecting-token-row:hover {
  cursor: pointer;
  background-color: #111618;
}

.dripicons-gear.noti-icon:hover {
  cursor: pointer;
}

.TokenInput-max-button {
  display: block;
  padding: 0 10px;
  cursor: pointer;
}
