// 
// general.scss
//

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background: 
  linear-gradient( rgba(0,0,0,.65), rgba(0,0,0,.8) ),
  url("../../../images/grid.jpeg");

    
    // filter:sepia(100%) saturate(50%) brightness(70%);
    // ;
  background-size: cover;
  
  // filter: sepia(100%) saturate(50%) brightness(70%);
  // url("../../../images/bg-pattern-dark.png");
}

.stakeInput {
  background-color: #cfcece;
  padding: 8px 8px;
  margin: 5px 0;
  font-size: 14pt;
}

.stakeAmount {
  font-size: 16pt;
}

// Fix event bubbling on iOS devices
@supports (-webkit-overflow-scrolling: touch) {
  body {
    cursor: pointer;
  }
}

